/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
	margin: 0;
	padding: 0;
}

body {
	cursor: default;
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	margin: 8px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

h1 {
	margin-bottom: 1em;
}

p {
	margin: 1em 0;
}

i {
	display: block;
}

a, a:visited {
	color: #00a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

	ul.posts li {
		line-height: 1.75em;
	}

	ul.posts span {
		color: #aaa;
	}

/*****************************************************************************/
/*
/* Main Content
/*
/*****************************************************************************/

#main-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#nav-bar-container {
	background-color: #161616;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 175px;
	z-index: 2;
}
	#nav-bar-container ul {
		list-style-type: none;
		margin: 0 auto;
		padding-top: 25px;
		text-align: center;
		width: 100px;
	}
	#nav-bar li {
		list-style-image: none;
		list-style-type: none;
		margin-left: 0;
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
	}
	#nav-bar li .active {
		color: green;
	}
	.nav-list {
		margin: 0;
		padding: 0;
		border: 0;
		overflow: hidden;
	}
#mainview {
	padding-left: 216px;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
	#mainview-content {
		position: relative;
	}
#page-container {
	box-sizing: border-box;
	max-width: 850px;
	min-width: 600px;
	padding: 20px;
}
/*****************************************************************************/
/*
/* Main Navigation
/*
/*****************************************************************************/
.nav-link .Logo, .nav-link .Writing, .nav-link .Tags, .nav-link .Pages, .nav-link .Work, .nav-link .About {
	background: url('../images/nav-icons.png') no-repeat;
}
.nav-logo {
	width: 100px;
}
.nav-item {
	width: 50px;
	margin: 5px 0 5px 0;
}
.nav-link {
	display: block;
	position: relative;
	text-align: center;
	padding: 0;
}
	.nav-link .Logo {
		background-position: -100px 0;
		height: 100px;
		width: 100px;
	}
	#active .Writing {
		background-position: -50px 0;
		height: 50px;
		width: 50px;
	}
	.nav-link .Writing {
		background-position: 0 0;
		height: 50px;
		width: 50px;
	}
	#active .Pages {
		background-position: -50px 0;
		height: 50px;
		width: 50px;
	}
	.nav-link .Pages {
		background-position: 0 0;
		height: 50px;
		width: 50px;
	}
	#active .Tags {
		background-position: -50px -50px;
		height: 50px;
		width: 50px;
	}
	.nav-link .Tags {
		background-position: 0 -50px;
		height: 50px;
		width: 50px;
	}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
}

/* standard */

	#post pre {
		font-family: Helvetica, sans-serif;
		border: 1px solid #ddd;
		background-color: #eef;
		padding: 10px;
	}

	#post ul,
	#post ol {
		margin-left: 1.35em;
	}

	#post code {
		border: 1px solid #ddd;
		background-color: #eef;
	}

	#post pre code {
		border: none;
	}

	/* terminal */

	#post pre.terminal {
		border: 1px solid black;
		background-color: #333;
		color: white;
	}

	#post pre.terminal code {
		background-color: #333;
	}

	#related {
		margin-top: 2em;
	}

	#related h2 {
		margin-bottom: 1em;
	}
